.header {
    position: absolute;
    z-index: 11;
    top: 0;
}

.nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo a img {
    width: 250px;
    object-fit: cover;
    height: 72px;
}

.info a {
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin: 0 20px;
    text-decoration: none;
}